.chat-main__body--message{data: {message_id: message.id}}
  .chat-main__body--message-name
    = message.user.name
  .chat-main__body--message-time
    = l(message.created_at, format: :custom)
  .chat-main__body--message-body
    = message.body
  .chat-main__body--message-image
    - if message.image?
      = image_tag message.image.to_s
